<% if @posts.exists? %>
  <% @posts.each do |post| %>
    <table>
      <tr>
        <td>
          <%= link_to post_path(post.id) do %>
          <%= image_tag post.image, size: "300x200" %>
          <% end %>
        </td>
      </tr>
      <td>
        <td>
          <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_profile_image(70,70) %>
          <% end %>
        </td>
      </td>
      <tr>
        <td>
          <%= post.introduction %>
        </td>
      </tr>
      <tr>
        <td>
          <%= post.user.name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </td>
      </tr>
    </table>
  <% end %>
<% else %>
  <p>
    フォローしてる方の投稿はありません。</br>
    検索画面より新しい猫ちゃんを探しにいきましょう！
  </p>
<% end %>