<% if @posts.exists? %>
  <div class="row p-2">
    <% @posts.each do |post| %>
      <div class="col-4">

        <div class="row p-1">
              <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, size: "300x200" %>
              <% end %>
        </div>

        <div class="row p-1">
          <div>
            <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(70,70), size: "70x70", class: "rounded-circle" %>
            <% end %>
          </div>

          <div class="col-8 offset-1">
            <div class="row">
              <%= post.introduction %>
            </div>
            <div class="row">
              <div style="color :gray"><%= post.user.name %></div>
            </div>
            <div class="row">
              <div style="color :gray"><%= post.created_at.strftime('%Y/%m/%d') %></div>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  </div>

<% else %>
  <div class="row py-5 justify-content-center">
    <p>
      フォローしてる方の投稿はありません。</br>
      検索画面より投稿をを探しにいきましょう！
    </p>
  </div>
<% end %>