<%= stylesheet_link_tag "top", :media => "all" %>

<div id="nekoimages">
    <div class="neko0"><div class="touka" ><%= render 'text' %></div></div>
    <div class="neko1"><div class="touka" ><%= render 'text' %></div></div>
    <div class="neko2"><div class="touka" ><%= render 'text' %></div></div>
    <div class="neko3"><div class="touka" ><%= render 'text' %></div></div>
    <div class="neko4"><div class="touka" ><%= render 'text' %></div></div>
    <div class="neko5"><div class="touka" ><%= render 'text' %></div></div>
    <div class="neko6"><div class="touka" ><%= render 'text' %></div></div>
  </div>
