<%= stylesheet_link_tag "top", :media => "all" %>

<div id="box">
  <div id="images">
    <div class="neko0"><%= render 'text' %></div>
    <div class="neko1"><%= render 'text' %></div>
    <div class="neko2"><%= render 'text' %></div>
    <div class="neko3"><%= render 'text' %></div>
    <div class="neko4"><%= render 'text' %></div>
    <div class="neko5"><%= render 'text' %></div>
    <div class="neko6"><%= render 'text' %></div>
  </div>
</div>