<%= form_with url: admin_search_path, local: true, method: :get do |f| %>
  <table>
    <div class="search_form">
      <%= f.text_field :word, placeholder: '検索ワードを入力', value: params[:word] %>
      <%= f.select :range, options_for_select([['ユーザ'], ['投稿']], @range) %>
      <% if @range == '投稿' %>
        <%= f.select :order, options_for_select([['新着順'], ['人気順']], @order) %>
      <% end %>
      <%= f.submit "検索", class: "btn btn-primary" %>
    </div>
  </table>
<% end %>

<table>
  <% if @range == 'ユーザ' %>
    <% if @users.exists? %>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.get_profile_image(70,70) %>
            <% end %>
          </td>
          <td>
            <%= user.name %></br>
            <%= user.introduction %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <p>ユーザが見つかりませんでした。</p>
    <% end %>

  <% elsif @range == '投稿' && @order == '人気順' %>
    <%= render 'list', posts: @posts, user: @user %>

  <% elsif @range == '投稿' && @order == '新着順' %>
    <%= render 'list', posts: @posts, user: @user %>

  <% else %>
    <% if @posts.exists? %>
      <%= render 'list', posts: @posts, user: @user %>
    <% else %>
      <p>投稿が見つかりませんでした。</p>
    <% end %>

  <% end %>
</table>