<% @users.each do |user| %>
  <table>
    <th>
      <td>
        <%= link_to admin_user_path(user.id) do %>
          <%= image_tag user.get_profile_image(70,70) %>
        <% end %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.introduction %>
      </td>
      <td>
          <%= button_to 'To Unfreeze', admin_user_freeze_path(user), method: :delete %>
      </td>
    </th>
  </table>
<% end %>
