<% users.each do |user| %>
  <div class="row p-2 d-flex justify-content-center">
    <div class="col-1">
      <%= link_to admin_user_path(user.id) do %>
        <%= image_tag user.get_profile_image(70,70), size: "70x70", class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-4">
      <div><strong><%= user.name %></strong></div>
      <div><%= user.introduction %></div>
    </div>
    <div class="col-2 offset-1 d-flex align-items-center">
      <% if user.is_freeze? %>
        <%= button_to '停止解除', remove_freeze_admin_user_path(user), method: :delete, class: "btn btn-outline-success" %>
      <% else %>
        <%= button_to 'アカウント停止', add_freeze_admin_user_path(user), method: :patch, "data-confirm" => "本当に停止しますか？", class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
