<div class="row pt-5">
  <div class="col-3 p-3">
    <h4 class="table-active">
      <div style="text-align: center">ログイン</div>
    </h4>
  </div>
</div>

<%= form_with model: @user, url: user_session_path do |f| %>
  <div class="row p-1">
    <div class="col-3">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "50x10" %>
    </div>
  </div>

  <div class="row p-1">
    <div class="col-3">
      <%= f.label :パスワード %>
    </div>
    <div class="col-3">
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

   <div class="row py-5">
    <div class="col-3 offset-3">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="actions">
    新規会員登録は
    <%= link_to "こちら", new_user_registration_path %>
  </div>
<% end %>
