<div class="row py-3">
  <div class="col-3 offset-4">
    <div class="table-active">
      <div style="text-align: center"><strong>あなたがいいねした投稿</strong></div>
    </div>
  </div>
</div>
  <div class="row p-2">
    <% @favorite_posts.each do |post| %>
      <div class="col-4">

        <div class="row p-1">
              <%= link_to post_path(post.id) do %>
              <%= image_tag post.image, size: "300x200" %>
              <% end %>
        </div>

        <div class="row p-1">
          <div>
            <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(70,70), class: "rounded-circle" %>
            <% end %>
          </div>

          <div class="col-8 offset-1">
            <div class="row">
              <%= post.introduction %>
            </div>
            <div class="row">
              <div style="color :gray"><%= post.user.name %></div>
            </div>
            <div class="row">
              <div style="color :gray"><%= post.created_at.strftime('%Y/%m/%d') %></div>
            </div>
          </div>
        </div>

      </div>

    <% end %>
  </div>