<!DOCTYPE html>
<html>
  <head>
    <title>NekoNoShukaisho</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="header" class="fixed-top" style="height:80px; background-color: #cccccc;">
      <div class="container">

        <div class="d-flex flex-wrap bd-highlight mb-3">

          <div class="mr-auto pl-5 bd-highlight">
                <h1>LOGO</h1>
          </div>

          <% if admin_signed_in? %>

            <div class="p-2 bd-highlight">
              <%= link_to destroy_admin_session_path,method: :delete, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">ログアウト</button>
              <% end %>
            </div>

          <% elsif user_signed_in? %>
            <div>
              ようこそ<%= current_user.name %>さん！
            </div>

            <div class="center-block pt-5 pr-5">
              <%= link_to "＋", new_post_path, class: "btn btn-light rounded-circle.p-0 width:2rem; height:2rem;" %>
            </div>

            <div class="p-2 bd-highlight">
              <%= link_to destroy_user_session_path, method: :delete, class: "nav-link active" do %>
                <button type="button" class="btn btn-outline-secondary">ログアウト</button>
              <% end %>
            </div>

          <% else %>

          <% end %>

        </div>
      </div>
    </div>

    <div style="padding-top:80px; margin-bottom:60px; height:100%">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <% if user_signed_in? %>
      <div id="footer" class="fixed-bottom" style="height:60px; background-color: #cccccc;">
        <div class="container">
          <%= link_to "投稿一覧", posts_path %>
          <%= link_to "検索", post_search_path(current_user) %>
          <%= link_to "いいね一覧", favorites_user_path(current_user) %>
          <%= link_to "ユーザ", user_path(current_user) %>
        </div>
      </div>


    <% elsif admin_signed_in? %>
      <div id="footer" class="fixed-bottom" style="height:60px; background-color: #cccccc;">
        <div class="container">
          <%= link_to "検索", admin_search_path %>
          <%= link_to "ユーザ", admin_users_path %>
        </div>
      </div>

    <% else %>
      <div id="footer" class="fixed-bottom" style="height:60px; background-color: #cccccc;">
      </div>
    <% end %>
  </body>
</html>
